<h2>Steg 2 av 2: Använd din kalenderfeed</h2>
<div class="alert-message success">
      <a class="close" href="#">×</a>
      <p><strong>Lyckat</strong> - Din kalenderfeed har skapats</p>
    </div>
<h4>
  <a href="<%= @feedurl %>"><%= @feedurl %></a>
</h4>
<p>
  För att använda din kalender
  <ul>
    <li>Kopiera länken ovan</li>
    <li>Klistra in länken i ditt kalenderprogram.</li>
  </ul>
</p>
<p>
  Om du tappar bort länken kan du alltid återvända och fylla i dina uppgifter igen. Du alltid att få samma länk.
</p>
<p>
  Mycket nöje!
</p>
